*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
body{
  min-width: 270px;
}
/* Variables */
:root{
    --primary-color: rgb(164,198,57);
    --secondary-color: purple;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { */
    header{
        background-image: url('images/FinanceBusiness.jpeg');
        height: 95%;
        background-size: cover;
        background-position: center;
        padding: 10px;
    }
    .navbar{
        padding: 20px 20px;
        position: relative;
    }
    .navbar h2{
        display:inline-block;
        font-size:800;
        font-weight: bolder;
        color: white;

    }   
      
    .icon {
        background:white;
        color: var(--primary-color);
        padding: 5px 10px;
        font-size: x-large;
        font-weight: bolder;
        display: inline-block;
        position: absolute;
        right: 5%;
        width: 30px;
        text-align: center;
      } 
      #myLinks{
        display: none;
        width: 100%;
        position: absolute;
        z-index: 2;
      }
      #myLinks a{
        padding: 20px;
        text-align: center;
        background-color: white;
        display: block;
        color: gray;
        text-decoration: none;
        
      }
      #myLinks a:hover{
        color: var(--primary-color);
        
      }
      .brand__details {
        padding: 20px 40px 50px 40px;
      }
      .brand__details-title{
        color: var(--primary-color);
        font-weight: bold;
      }
      .brand__details-title2{
        color:var(--secondary-color);
        font-weight: bolder;
        font-size: xx-large;
      }
      .brand__details-desc{
          color: white;
      }
      .brand__details-button{
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: white;
        border: 1px solid var(--primary-color);
        border-radius: 25px;
        width: 135px;
        font-weight: bolder;
        margin-left: 10px;

      }
      /* Footer */
/* } */
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .brand__details {
    padding: 50px 80px 50px 80px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
  header{
    height: 100%;
    
}
  .icon {
    right: 3%;
  }
  .brand__details{
    padding: 30px 260px 100px 100px;
  }
  .brand__details-title{
    font-size: x-large;
  }
  .brand__details-title2{
    font-size: xxx-large;
  }
  .brand__details-button{
    margin-top: 20px;

  } 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar{
    padding: 30px 0px 0px 0;
    display: inline-block;
    width: 30%;
   
  }
  .icon{
    display: none;
  }
  #myLinks{
    display: inline-block;
    width: 60%;
  }
  #myLinks a{
    background: transparent;
    color: white;
    padding: 35px 25px 15px 25px;
    font-size: medium;
    font-weight: bold;
    display: inline-block;
  }
  #myLinks a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }
  .brand__details{
    padding: 70px 400px 120px 150px;
  }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar{
    padding: 30px 0px 0px 12%;
    box-sizing: border-box;
    display: inline-block;
    width: 55%;
  }
  .brand__details{
    padding: 120px 50% 120px 170px;
  }
  #myLinks{
    width: 45%;
  }

  
}